nav {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 166, 2);
    position: relative;
}
nav img {
    margin-left: 30px;
    height: 80%;
    width: auto;
}
nav h1 {
    font-size: 2em;
}
nav ul {
    display: flex;

}
nav li {
    margin-right: 15px;
}
nav li:hover {
    transform: translateY(-2px);
}
nav li a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
nav li a:hover {
    color: black;
}